@model IEnumerable<PersonalExpenseTrackerWeb.Models.TransactionModel>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/CreateOrEdit";
}

<div class="row">
    <ejs-grid id="transactionsTable" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="Date" field="Date" width="110px" format="MMM-dd-yy" type="date"></e-grid-column>
            <e-grid-column headerText="Amount" field="FormattedAmount" width="150px"></e-grid-column>
            <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
            <e-grid-column headerText="Note" field="Note"></e-grid-column>
            <e-grid-column headerText="Actions" template="#ActionColumnTemplate" width="100px"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="ActionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/CreateOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm no-a-decoration" onclick="return confirm('Are you sure you want to delete this record')">
                <i class="fa-solid fa-trash fa-lg" style="color:red"></i>
            </button>
        </form>
    </div>
</script>