@model IEnumerable<PersonalExpenseTrackerWeb.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateOrEdit">Create New</a>
</p>
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="CategoryTable" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" template="#TypeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#ActionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color: #323d4a">
            <i class="fa-solid fa-icons fa-2xl"></i>
        </div>
    </div>
</div>

<script id="TypeColumnTemplate" type="text/x-template">
    ${if(Type=="Income")}
        <span class="badge bg-success">${Type}</span>
    ${else if (Type=="Save")}
        <span class="badge bg-info">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>

<script id="ActionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Category/CreateOrEdit/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg"></i>    
        </a>
    </div>
</script>