@{
    ViewData["PageTitle"] = "Expense Tracker";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Transactions" asp-controller="Home" class="btn btn-primary">Overview</a>
    <a asp-action="CreateEditTransaction" asp-controller="Home" class="btn btn-secondary">Create New</a>
</div>
